body {
    background: #E6D0B2 linear-gradient(135deg, #AAC1DC, #AFDDAB);
    font-family: Mononoki, Consolas, 'Courier New', monospace, '微软雅黑', sans-serif;
    #root {
        margin: 2em auto;
        width: 300px;
        border: 2px solid #E0873E;
    }
}